<amexio-row>
    <amexio-column size="12">
        <amexio-tab-view>
            <amexio-tab [title]="'CountryList'" active="true" [icon]="''">
                <amexio-datagrid [title]="'Country'" [page-size]="10" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [enable-column-fiter]="true">
                    <amexio-data-table-column [text]="'name'" [data-index]="'countryName'" [data-type]="'string'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [text]="'code'" [data-index]="'countryCode1'" [data-type]="'string'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [text]="'currency'" [data-index]="'currencyName'" [data-type]="'string'">
                    </amexio-data-table-column>
                </amexio-datagrid>
            </amexio-tab>
            <amexio-tab [title]="'StateList'" [icon]="''">
                <amexio-dropdown [(ngModel)]="testtabuiModel.country" name="testtabuiModel.country" [search]="true" [field-label]="'Country'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [display-field]="'countryName'"
                    [value-field]="'id'" [search]="'true'" (onSingleSelect)="onSingleSelect_country($event)">
                </amexio-dropdown>
            </amexio-tab>
        </amexio-tab-view>
    </amexio-column>
</amexio-row>