<amexio-row>
    <amexio-column size="12">

        <amexio-chart-area *ngIf="areachartLocalData" [data]="areachartLocalData" [height]="'400px'" [width]="'100%'">


            <amexio-chart-title [title]="'City population'" [font-size]="15" [bold]="true" [italic]="true">
            </amexio-chart-title>



            <amexio-chart-legend [position]="'bottom'" [max-lines]="2" [font-name]="'Times-Roman'" [font-size]="18" [alignment]="'start'">
            </amexio-chart-legend>


        </amexio-chart-area>

    </amexio-column>
</amexio-row>