<amexio-row>
    <amexio-column size="12">
        <amexio-btn-group [size]="'default'">
            <amexio-button [label]="'Item '" [type]="'primary'" [tooltip]="'button'">
            </amexio-button>
        </amexio-btn-group>
        <amexio-btn-dropdown [label]="'Button'" [type]="'default'" [size]="'default'">
            <amexio-btn-dropdown-item [label]="'Item '">
            </amexio-btn-dropdown-item>
            <amexio-btn-dropdown-item [label]="'Item '">
            </amexio-btn-dropdown-item>
        </amexio-btn-dropdown>
    </amexio-column>
</amexio-row>

<amexio-row>
    <amexio-column size="12">
        <amexio-dropdown [(ngModel)]="testbtnModel.con" name="testbtnModel.con" [search]="true" [field-label]="'Dropdown'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [display-field]="'countryName'" [value-field]="'id'">
        </amexio-dropdown>
    </amexio-column>
</amexio-row>

<amexio-row>
    <amexio-column size="12">
        <amexio-dropdown [(ngModel)]="testbtnModel.state" name="testbtnModel.state" [search]="true" [field-label]="'Dropdown'" [data]="state_Data" [display-field]="'stateName'" [value-field]="'stateId'" (onSingleSelect)="onSingleSelect_state($event)">
        </amexio-dropdown>
    </amexio-column>
</amexio-row>

<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>