<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Department
    </amexio-header>
    <amexio-body>
        <amexio-text-input [field-label]="'Dept Id'" [(ngModel)]="departmentModel.id" name="departmentModel.id" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
        <amexio-text-input [field-label]="'Dept Name'" [(ngModel)]="departmentModel.name" name="departmentModel.name" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
        </amexio-text-input>
        <amexio-dropdown [(ngModel)]="departmentModel.country" name="departmentModel.country" [search]="true" [field-label]="'country'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [data]="country_Data"
            [display-field]="'countryName'" [value-field]="'id'" (onSingleSelect)="onSingleSelect_country($event)">
        </amexio-dropdown>
        <amexio-radio-group [field-label]="'TestRadio'" name="departmentModel.radi" [display-field]="'name'" [value-field]="'id'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/dept/findall'" [http-method]="'get'" [data]="radi_Data" [horizontal]="true">
        </amexio-radio-group>
        <amexio-typeahead [(ngModel)]="departmentModel.testtype" name="departmentModel.testtype" [field-label]="'Type Ahead'" [display-field]="'name'" [value-field]="'id'" [key]="'name'" [trigger-char]="1" [data]="localData5307810000">
        </amexio-typeahead>
        <amexio-checkbox-group [field-label]="'state'" [display-field]="'stateName'" [value-field]="'stateId'" [data]="chk_Data" [horizontal]="true">
        </amexio-checkbox-group>

    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Save'" [icon]="'fa fa-save fa 2x'" [type]="'theme-color'" [tooltip]="'save'" [size]="'default'" [form-bind]="'save'" (onClick)="onClick_save($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>
<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>