<amexio-accordion [transparent]="false" [angle-icon]="false" [expand-all]="false">
    <amexio-accordion-tab [header]="'Accordion Tab'" [active]="false" [disabled]="false">
        <amexio-box [border-color]="'red'" [border]="'left'" [padding]="true" [background-color]="'red'" [box-height]="'300'" [box-width]="'300'">
        </amexio-box>
    </amexio-accordion-tab>
    <amexio-accordion-tab [header]="'Accordion Tab'" [active]="false" [disabled]="false">
        <amexio-borderlayout>
            <amexio-borderlayout-item [position]="'north'">
            </amexio-borderlayout-item>
            <amexio-borderlayout-item [position]="'east'">
            </amexio-borderlayout-item>
            <amexio-borderlayout-item [position]="'center'">
            </amexio-borderlayout-item>
            <amexio-borderlayout-item [position]="'west'">
            </amexio-borderlayout-item>
            <amexio-borderlayout-item [position]="'south'">
            </amexio-borderlayout-item>
        </amexio-borderlayout>
    </amexio-accordion-tab>
</amexio-accordion>