<amexio-row>
    <amexio-column size="12">
        <amexio-dropdown [(ngModel)]="getstatedataModel.countryId" name="getstatedataModel.countryId" [search]="true" [field-label]="'Country'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [display-field]="'countryName'"
            [value-field]="'id'" (onSingleSelect)="onSingleSelect_countryId($event)">
        </amexio-dropdown>
        <amexio-dropdown [(ngModel)]="getstatedataModel.stateId" name="getstatedataModel.stateId" [search]="true" [field-label]="'State'" [data]="stateId_Data" [display-field]="'stateName'" [value-field]="'stateId'" [search]="'true'">
        </amexio-dropdown>
        <amexio-radio-group [field-label]="'Radio'" name="getstatedataModel.testlocal" [data-reader]="'data'" [display-field]="'name'" [value-field]="'id'" [data]="radiogroupData" [horizontal]="true">
        </amexio-radio-group>
        <amexio-typeahead [(ngModel)]="getstatedataModel.type" name="getstatedataModel.type" [field-label]="'Type Ahead'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [display-field]="'countryName'" [value-field]="'id'"
            [key]="'countryName'" [trigger-char]="1">
        </amexio-typeahead>
        <amexio-dropdown [(ngModel)]="getstatedataModel.cntry" name="getstatedataModel.cntry" [search]="true" [field-label]="'Country1'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [display-field]="'countryName'"
            [value-field]="'id'" (onSingleSelect)="onSingleSelect_cntry($event)">
        </amexio-dropdown>
        <amexio-dropdown [(ngModel)]="getstatedataModel.stateaaa" name="getstatedataModel.stateaaa" [search]="true" [field-label]="'Dropdown'" [data]="stateaaa_Data" [display-field]="'stateName'" [value-field]="'stateId'">
        </amexio-dropdown>
    </amexio-column>
</amexio-row>

<amexio-notification [data]="successMsgData" [vertical-position]="'top'" [horizontal-position]="'right'" [close-on-escape]="true" [background-color]="'green'" [auto-dismiss-msg]="true" [auto-dismiss-msg-interval]="4000">
    <ng-template #amexioNotificationTemplates let-row="row">
        <amexio-box>
            <amexio-image [icon-class]="'fa fa-check'">
            </amexio-image> &nbsp;&nbsp;
            <amexio-label size="small-bold" font-color="black">{{row}}</amexio-label>
        </amexio-box>
    </ng-template>
</amexio-notification>