<amexio-row>
    <amexio-column size="12">
        <amexio-checkbox-group [field-label]="'Checkbox Group'" [data-reader]="'data'" [display-field]="'lang'" [value-field]="'id'" [data]="checkboxgroupData" [horizontal]="true">
        </amexio-checkbox-group>
        <amexio-checkbox-group [field-label]="'dept'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/dept/findall'" [http-method]="'get'" [display-field]="'name'" [value-field]="'id'" [horizontal]="true">
        </amexio-checkbox-group>
    </amexio-column>
</amexio-row>