<amexio-row>
    <amexio-column size="12">
        <amexio-btn-group [size]="'default'">
            <amexio-button [label]="'2'" [type]="'primary'" [tooltip]="'Link'">
            </amexio-button>
            <amexio-button [label]="'1'" [type]="'primary'" [tooltip]="'Link'">
            </amexio-button>
        </amexio-btn-group>
        <amexio-btn-dropdown [label]="'Button'" [type]="'default'" [size]="'default'">
            <amexio-btn-dropdown-item [label]="'link1'">
            </amexio-btn-dropdown-item>
            <amexio-btn-dropdown-item [label]="'link2'">
            </amexio-btn-dropdown-item>
        </amexio-btn-dropdown>
        <amexio-image [tooltip]="'Admin user'" [height]="''" [path]="'https://image.ibb.co/fQmDVT/3.jpg'">
        </amexio-image>
        <amexio-chart-donut *ngIf="dchartchartLocalData" [data]="dchartchartLocalData" [height]="'400px'" [width]="'100%'">


            <amexio-chart-title [title]="'daily activites'" [font-size]="15" [italic]="true">
            </amexio-chart-title>



            <amexio-chart-legend [position]="'top'" [max-lines]="2" [font-name]="'Times-Roman'" [font-size]="18" [color]="'#c52c2c'" [alignment]="'center'">
            </amexio-chart-legend>


        </amexio-chart-donut>
        <amexio-listbox [data]="testlist_Data" [height]="250" [search-placeholder]="'Search contact'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [display-field]="'countryName'" [header]="'Contacts'">
        </amexio-listbox>
    </amexio-column>
</amexio-row>